@charset "UTF-8";
/* CSS Document */
*{
    margin: 0;
    padding: 0;
}
/* 通常のカーソルを非表示 */
body, a, button, input, textarea {
  cursor: none !important;
}

/* カスタムカーソル */
#custom-cursor {
  position: fixed;      /* ページスクロールで追従 */
  width: 32px;
  height: 32px;
  pointer-events: none; /* カーソルがクリック操作を邪魔しない */
  transform: translate(-20%, -20%); /* 画像の中心をマウス位置に合わせる */
  z-index: 9999;        /* 最前面に表示 */
}

/*-----------------------------------------------------------------*/
html, body {
  margin: 0;
  padding: 0;
}
html{
  overflow-x: hidden;
}


body{
		/*cursor: url("../img/Unknown-3.png"),auto;*/
	font-family: 'Crimson Text', serif;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	/*font-family: 'Montserrat', sans-serif;*/
	overflow-x: hidden;
	cursor: url("../img/cursor.png"), auto;
  
	}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*position: fixed;  /* ← headerの中ではなく、ここに付ける！ */
  /* top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  z-index: 999;  /* ハンバーガーメニューより1つ下 */
  /*padding: 0 20px;*/

}
.topimg {
  position: fixed;
  z-index: 10;
 cursor: url("../img/cursor.png"), auto;
}
.sort-btn {
  margin-top: 150px; /* ← .top の高さに合わせて調整（130〜160pxぐらいで試して） */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 20px;
	position: relative; /* 必要ならfixedやabsoluteにしてもOK */
  z-index: 1100; /* ヘッダーより大きい値に */
  margin-top: 140px; /* ヘッダーの高さ+αの余白を作る */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px; /* 必要に応じて調整 */
  z-index: 999;

 
}
.push{
	/*テキストの基点とするためrelativeを指定*/
	position: relative;
    /*ボタンの形状*/
	border: #555;/*囲み線はsolid、線幅指定はpx*/
    min-width:100px;/*要素の幅の最小値を指定する*/
	display: inline-block;
	padding: 3px 0px 3px 0px;
    text-align: center;
    text-decoration: none;
    color: #333;
	background-color: #EFE42C;;
    outline: none;/*入力中に箱が入力中ということを表す*/
    transition: all .2s;/*ホバーした時の動き*/
	cursor: url("../img/cursor.svg"), auto;
}

.push:hover{
	background:#333;
    color:#fff;
}
.push.active {
  background: #333;
  color:  #EFE42C;
}
nav ul{
	margin-right: 0%;
	display: flex;
	justify-content: flex-end;
}
nav li{
	list-style: none;
	margin: 5%;
}
li a{
	color: #474747;
	text-decoration: none;
}
h1{
	margin: 0;
    padding: 0;
	width:100px;
}
h1 img{
	margin-left: 10%;
	
	width: 80%;
	height: 100%;
}


/*----------------------------メイン-------------------------------------*/
main{
	display: flex;
	align-content: center;
	justify-content: center;
	cursor: url("../img/cursor.png"), auto;
}
.mask{
    display: block;
    overflow: hidden;/*はみ出る要素を隠す*/
}

footer {
    text-align: center;
    color:#474747;
    margin-bottom: 5%;
}
footer{
 margin-top: 20%;
}
footer .footer-sign img {
    width: 300px;       /* お好みのサイズ */
    height: auto;
    display: block;
    margin: 0 auto 10px; /* 上下の余白 */
}
/*==================================================
ギャラリーのためのcss
===================================*/

/*＝＝＝並び替えボタンのCSS*/
.sort-btn{
	margin-top: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding:50px 20px;
	position: relative; /* 必要ならfixedやabsoluteにしてもOK */
  z-index: 1100; /* ヘッダーより大きい値に */
  margin-top: 140px; /* ヘッダーの高さ+αの余白を作る */
}
.sort-btn li{
	display: inline-block;
	margin: 01em .4em 0;
	padding: 0.6em 1em 0.6em 1em;
	line-height: 1;
	text-decoration: none;
	color: #E6C800;
	background-color: #fff;
	border: 1px solid #E6C800;
	border-radius: 2em;
}
.sort-btn li:before {
	content: "#";	
}

.sort-btn li:hover{
	color:#686868;
	border-color:#686868; 
}
#page-top {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  margin-right: -1%;
  gap: 0px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9999;
  text-decoration-line: none;
}

#page-top.visible {
  opacity: 0.7;
  pointer-events: auto;
}

#page-top:hover {
  opacity: 1;
}

#page-top .arrow {
  position: relative;
  width: 1px;
  height: 80px;
  background-color: #000;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  margin-right: 7px;
}

#page-top .arrow::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 8px;
  height: 8px;
  border-left: 1px solid #000;
}

#page-top .page-text {
  display: inline-block;
  white-space: nowrap;
  font-size: 7px;
  letter-spacing: 3px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transform: rotate(90deg);
  transform-origin: left center;
  flex-shrink: 0;
	margin-bottom: 50px;
}

/*==========================================すまほ==========================================*/

/*横幅が480px以下になった際の指定*/
@media only screen and (max-width: 480px) {
.sort-btn{
	justify-content: space-between;
}
	
.sort-btn li{
	width:20%;
	margin:0 0 10px 0;
	text-align:center;
	}	
}


/*＝＝＝Muuriのレイアウトのための調整 */
.grid {
	/*cursor: url("../img/Unknown-3.png"),auto;*/
	margin-left: 5%;
	margin-right: 4%;
	justify-content: center;
  position: relative;/*並び替えの基準点を指定*/
  box-sizing:inherit;
  margin-bottom: 10%;
} 
.item  {
  cursor: pointer;
  max-width: 500px;
  overflow: hidden;
  width: 100%;
}
.item img {
	/*cursor: url("../img/ -9.png"),auto;*/
  height: auto;
  transition: transform .6s ease; /* ゆっくり変化させる */
}
.item:hover img {
	
  transform: scale(1.1); /* 拡大 */
}

/*各画像の横幅などの設定*/
.item {
  display: block;
  position: absolute;
  width: 33%;/*横並びで3つ表示*/
  z-index: 1;
  list-style:none;
  box-sizing:inherit;
	
}

/*内側のボックスの高さが崩れないように維持*/
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hover-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 2;
  text-align: center;
	
  
}

/* ホバー時に表示 */
.item:hover .hover-mask {
  opacity: 1;
}

/* テキストのスタイル */
.hover-mask p {
　font-family: 'Zen Kaku Gothic New', sans-serif;
  color: #E1E1E1;
  letter-spacing: 0.2rem;
  text-align: left;
  margin: 0;
  padding: 10px;
  font-size: 0.8rem;
  width: 80%;
}
/*画像の横幅を100%にしてレスポンシブ化*/
.grid img{
	width:100%;
	height:auto;
	vertical-align: bottom;/*画像の下にできる余白を削除*/
}




footer {
    text-align: center;
    color:#474747;
    margin-bottom: 5%;
}
footer{
 margin-top: 20%;
}
footer .footer-sign img {
    width: 300px;       /* お好みのサイズ */
    height: auto;
    display: block;
    margin: 0 auto 10px; /* 上下の余白 */
}
#snsFoot {
 z-index: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 30px;
    bottom: 30px;
    
}
#snsFoot li {
 list-style: none;
    line-height: 1;
    padding: 0 8px;
}
#snsFoot li a {
    display: block;
    cursor: pointer;
}
#snsFoot li img {
    width: 21px;
    height: auto;
    opacity: .9;
}


/*==========================================すまほ==========================================*/

@media screen and (max-width: 600px) {
	
.item {
  width: 49.5%;/*横並びで2つ表示*/
}
	h1 img {
    width: 80%;
    height: 10%;
		
		}
	.sort-btn {
  z-index: 900; /* header(999)より後ろ、メニューより下にする */
}
	
	/* ハンバーガー */
	/* タイトルや装飾画像を背面に */

.titletext,
.titleimg,
.blockText1,
.blockText2,
.blockText3 {
    z-index: 0; 
}
  .menu-btn {
    position: fixed;
    top: 38px;
    right: 55px;
    z-index: 10001;
    width: 40px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
	}

  .menu-btn span {
    display: block;
    width: 150%;
    height: 3px;
    background:#949494;
    margin: 6px 0;
    transition: all 0.3s ease;
	  
  }

  .menu-btn.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .menu-btn.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-btn.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
	

/* メニュー本体(展開ページ)*/
  .menu-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9); 
       z-index: 10000;
    display: none; /* ← 最初は非表示にしておく */
    justify-content: center;
    align-items: center;
	transition: opacity 0.6s ease, visibility 0.6s ease; 
	  
  }

  .menu-panel.active {
    display: flex; /* ← ボタン押したら表示 */
  }

  .menu-panel ul {
    list-style: none;
    text-align: center;
    padding: 0;
	flex-direction: column; 
	justify-content: center; /* 縦方向中央揃え */
	align-items: center; /* 横方向中央揃え */
	height: 100%; /* メニュー全体の高さに合わせる */
	margin-right: 0%;
    

  }

  .menu-panel ul li {
	width: 100%;
    margin: 20px 0;
  }
 

  .menu-panel ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #333;
  }
  .menu-panel ul li a:hover {
  	color: #EFE42C; 
  	background-color: #333; 
  	transition: color 0.3s ease, background-color 0.3s ease; 
  	border-radius: 25px;
  	padding: 10px 15px; 
}
	
	
	
	/*スマホ表示でPCナブを消す*/
@media screen and (max-width: 600px) {
  .pc-menu {
    display: none !important;
  }
}


/* テキストのスタイル */
.hover-mask p {
　font-family: 'Zen Kaku Gothic New', sans-serif;
  color: #E1E1E1;
  letter-spacing: 0.2rem;
  text-align: left;
  margin: 0;
  padding: 10px;
  font-size: 0.5rem;
  width: 80%;
}
#snsFoot {
	margin-top: 10%;
    position: static; /* または relative */
    bottom: auto;
    left: auto;
    transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
}
#snsFoot li {
    padding: 0 10px;
  }

#snsFoot li a { 
	align-items: center;
}
#snsFoot li img {
    width: 40px;
}
/*＝＝＝fancyboxサムネイル背景と画像選択時の枠線の指定*/
.fancybox-thumbs {
    background: transparent!important;
}

.fancybox-thumbs__list a:before {
    border: 6px solid #FA999B;
}

footer {
    text-align: center;
    color:#474747;
    margin-bottom: 5%;
}
footer{
 margin-top: 20%;
}
}
footer .footer-sign img {
    width: 200px;      
    height: auto;
    display: block;
    margin: 0 auto 10px; /* 上下の余白 */
}	
	
/* PC表示でスマホメニューを消す：絶対最後 */
@media screen and (min-width: 601px) {
  .sp-menu,
  .menu-btn,
  .menu-panel {
    display: none !important;
  }
}


