@charset "UTF-8";
/* CSS Document */

*{
    margin: 0;
    padding: 0;
}
html{
  overflow-x: hidden;
}
/* 通常のカーソルを非表示 */
body, a, button, input, textarea{
  cursor: none !important;
}

/* カスタムカーソル */
#custom-cursor {
  position: fixed;      /* ページスクロールで追従 */
  width: 32px;
  height: 32px;
  pointer-events: none; /* カーソルがクリック操作を邪魔しない */
  transform: translate(-20%, -20%); /* 画像の中心をマウス位置に合わせる */
  z-index: 999999;        /* 最前面に表示 */
}
.top img{
	/*cursor: url("../img/HD-wallpaper-n-d-middle-logo-green-day2.png"),auto;*/
}
body{
	/*cursor: url("../img/HD-wallpaper-n-d-middle-logo-green-day2.png"),auto;*/
	font-family: 'Crimson Text', serif;
	font-family: 'Ubuntu', sans-serif;
}
html,body{
	height:100%;
}
header{
	margin-top: 1.5%;
	z-index:1;
	position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    justify-content: center;
}
.push{
	/*テキストの基点とするためrelativeを指定*/
	position: relative;
    /*ボタンの形状*/
	border: #555;/*囲み線はsolid、線幅指定はpx*/
    min-width:100px;/*要素の幅の最小値を指定する*/
	display: inline-block;
	padding: 3px 0px 3px 0px;
    text-align: center;
    text-decoration: none;
    color: #333;
	background-color: #EFE42C;
    outline: none;/*入力中に箱が入力中ということを表す*/
    transition: all .2s;/*ホバーした時の動き*/
}

.push:hover{
	background:#333;
    color:#fff;
}
.push.active {
  background: #333;
  color:  #EFE42C;
}
nav ul{
	margin-right: 0%;
	display: flex;
	justify-content: flex-end;
}
nav li{
	list-style: none;
	margin: 5%;
}
li a{
	color: #474747;
	text-decoration: none;
}
h1{
	
	width:100px;
}
h1 img{
	
	margin-left: 10%;
	width: 80%;
	height: 100%;
}
.top{
	display: flex;
	align-items: center;
	justify-content:space-between;
}
.topimg{
	position: fixed;
	z-index: 10;
}

#wrapper{
  width: 100%;
  height: 100%;
  display: flex;
}
#left_area{
  /*#fixed...要素の位置を固定する*/
  position: -webkit-sticky;  /*Safari用*/
  position: sticky;  /*position: sticky...スクロールすると親要素の中で追従する*/
  top:0;
  width: 50%;
  height: 100vh;
  /*装飾のためのCSS*/
  background:url("../img/cokkie.jpg") center no-repeat;
  background-size:90%;
	
}
#right_area{
  background: url()no-repeat;
  background-size: 50%;
  background-position: right top;
　position: -webkit-sticky;
  position: sticky; 
  width:50%;
  height:100%;
  background-color:#E7E7E7;
  min-height: 100vh;
	
}
section{
 justify-content: center;
 align-items: center; 
 padding:30px;
 
}
.textwork1{
	font-family: "A P-OTF A1ゴシック Std R";
	font-size:1.2rem;
	margin-bottom: 15%;
	
	text-align: center;
	height: 65px;
	line-height: 65px;
}
h2{
	
  	font-size:1.0rem;
  	text-align: center;
  	margin:0 0 30px 0;
	color:#000000;
}
h2,
#right_area p,/*...コンテンツの横幅を調整することができる。*/
small{/*small...一回り小さいサイズで表示*/
  margin:0 0 30px 0;
	line-height: normal;
}
.blockwork1{
	margin-top:30%;
	height: 100%;
	justify-content: center;
	margin-left:70px;
	margin-right: 70px;
	 transition: all 0.3s ease; /* アニメーションはここに */
}
.blockwork1 img:hover {
    transform: scale(1.05);        /* 少し拡大 */
    filter: brightness(0.9);        /* 少し暗く */
}


#modal-container {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, .7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

#modal-container .modal-center {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#modal-container img {
  max-width: calc(100vw - 40px);
  max-height: calc(100vh - 40px);
}
.textwork2,.textwork3,.textwork4{
	font-family: "A P-OTF A1ゴシック Std L";
	font-size:0.9rem;
	line-height: 200%;
}
.textwork3{
	line-height: 10%;
	margin-bottom: 15%;
}
.img{
	margin-bottom: 20%;
	display: flex;
}
.img1,.img2 {
	width: 50%;
	height: 50%;
	margin-right: 5%;
}


h3{
	margin-bottom: 5%;
}
.textwork4 h2{
	justify-content: flex-start;
	text-align: left;
}
.textwork4 p{
	justify-content: flex-start;
	text-align: left;
	font-size: 11px;
}
.tags{
	display: flex;
	margin-bottom: 15%;
	justify-content: space-between;
	
}
.tags a{
	text-decoration: none;
	color: #333;
}
.tags:hover a {
  color: #BABABA;
	transition: all .2s;/*ホバーした時の動き*/
}

.pagenation pagenation-permalink{
	text-align: center;
	margin-bottom: 10%;
	
}
.pagenation pagenation-permalink{
	color: #333;
	text-decoration-line: none;
}
.pagenation {
    margin: 3em 0;
    text-align: center;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: .1em;
}
.pagenation a {
    display: inline-block;
    text-decoration: none;
    margin: 0 1em;
    color: #36393d;
}


.arrow-right {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 10px;
  border-top: 2px solid #36393d;
  border-right: 2px solid #36393d;
  transform: rotate(45deg);
  transition: border-color 0.3s ease;
}
.pager-next:hover .arrow-right {
  border-color: #BABABA;
}
.arrow-left {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 10px;
  border-bottom: 2px solid #36393d;
  border-left: 2px solid #36393d;
  transform: rotate(45deg);
  transition: border-color 0.3s ease;
}

.pager-prev:hover .arrow-left {
  border-color: #BABABA;
}
/****--------- 歯車 ---------****/
.gear{
	animation: gear 5s infinite linear/*速度が一定*/;
	margin-left: 80%;
	width: 60%;

}
@keyframes gear{
	0%{transform: rotateZ(0deg)}
	100%{transform: rotateZ(360deg)}
}

footer {
    text-align: center;
    color:#474747;
    margin-bottom: 5%;
	 margin-top: 20%;
}

footer .footer-sign img {
    width: 200px;       /* お好みのサイズ */
    height: auto;
    display: block;
    margin: 0 auto 10px; /* 上下の余白 */
}
#snsFoot {
 z-index: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 30px;
    bottom: 30px;
    
}
#snsFoot li {
 list-style: none;
    line-height: 1;
    padding: 0 8px;
}
#snsFoot li a {
    display: block;
    cursor: pointer;
}
#snsFoot li img {
    width: 21px;
    height: auto;
    opacity: .9;
}
/* ページスクロール */
#page-top {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  margin-right: -1%;
  gap: 0px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9999;
  text-decoration-line: none;
}

#page-top.visible {
  opacity: 0.7;
  pointer-events: auto;
}

#page-top:hover {
  opacity: 1;
}

#page-top .arrow {
  position: relative;
  width: 1px;
  height: 80px;
  background-color: #000;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  margin-right: 7px;
}

#page-top .arrow::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 8px;
  height: 8px;
  border-left: 1px solid #000;
}

#page-top .page-text {
  display: inline-block;
  white-space: nowrap;
  font-size: 7px;
  letter-spacing: 3px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transform: rotate(90deg);
  transform-origin: left center;
  flex-shrink: 0;
	margin-bottom: 50px;
}
/*==========================================すまほ==========================================*/
@media screen and (max-width: 600px) {
  #wrapper {
    display: block;
  }
  section {
    min-height: auto;
  }
  #left_area {
	  margin-top: 30%;
    width: 100%;
    height: 50vh;
	 
    background-image: url("../../cottenlime/img/DSC_0060.JPG") center;
    background-size: cover;
    background-position: center;
  }
  #right_area {
    width: 100%;
  }
  .menu-btn {
    position: fixed;
    top: 38px;
    right: 55px;
    z-index: 1001;
    width: 40px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .menu-btn span {
    display: block;
    width: 150%;
    height: 3px;
    background: #949494;
    margin: 6px 0;
    transition: all 0.3s ease;
  }
  .menu-btn.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .menu-btn.active span:nth-child(2) {
    opacity: 0;
  }
  .menu-btn.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  .menu-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.95);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .menu-panel.active {
    display: flex;
  }
  .menu-panel ul {
   list-style: none;
    text-align: center;
    padding: 0;
	 
	flex-direction: column; 
	justify-content: center; /* 縦方向中央揃え */
	align-items: center; /* 横方向中央揃え */
	height: 100%; /* メニュー全体の高さに合わせる */
	margin-right: 0%;
    
  }
	
	 
	
  .menu-panel ul li {
    margin: 20px 0;
  }
  .menu-panel ul li a {
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
  }
  .menu-panel ul li a:hover {
    color: #EFE42C;
    background-color: #333;
    border-radius: 25px;
    padding: 10px 15px;
    transition: 0.3s;
  }
  .pc-menu {
    display: none !important;
  }
	
#snsFoot {
	margin-top: 10%;
    position: static; /* または relative */
    bottom: auto;
    left: auto;
    transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
}
#snsFoot li {
    padding: 0 10px;
  }

#snsFoot li a { 
	align-items: center;
}
#snsFoot li img {
    width: 40px;
}
  body.menu-open {
    overflow: hidden;
  }
	.pagenation pagenation-permalink{
	color: #333;
	text-decoration-line: none;
}
.pagenation {
    margin: 3em 0;
    text-align: center;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: .1em;
}
.pagenation a {
    display: inline-block;
    text-decoration: none;
    margin: 0 1em;
    color: #36393d;
}
a, .post-content-anchor:hover, .nav li a:hover, .pagenation a:hover, .entry-footer a:hover {
    color: #BABABA;
}
.arrow-right {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 1px;
  border-top: 2px solid  #36393d;
  border-right:2px solid  #36393d;
  transform: rotate(45deg);
}
	.arrow-left {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 1px;
  border-bottom: 2px solid #36393d;
  border-left: 2px solid #36393d;
  transform: rotate(45deg);
  transition: border-color 0.3s ease;
}
.arrow-right:hover{
	color: #BABABA;
}
	
	.aicon{
	margin-top: 20px;
	text-align: center;
	width: 100%;
	height: 100%;
}
.aicon img{
	width: 100%;
	height: 100%;
}
}
	
/* PC表示でスマホメニューを消す：絶対最後 */
@media screen and (min-width: 601px) {
  .sp-menu,
  .menu-btn,
  .menu-panel {
    display: none !important;
  }
}

