@charset "UTF-8";
/* CSS Document */

*{
    margin: 0;
    padding: 0;
}

body{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
	}
header{
	margin-top: 5%;
	height: 30vh;
	
	
}
.boxH1 h1{
	text-align: center;
	width: 100%;
    padding: 1rem 2rem;
    color: #333;
    font-size: 20px;
    letter-spacing: 10px;
}
h1{
	width:100px;
}
h1 img{
	margin-left: 30%;
	width: 80%;
	height: 100%;
}
.top{
	display: flex;
	align-items: center;
	justify-content:space-between;
}
.topimg{
	position: fixed;
	z-index: 10;
	cursor: url("img/sunglass.png"),auto;
}
.boxH1{
	margin-left: 20%;
}
.push{
	/*テキストの基点とするためrelativeを指定*/
	position: relative;
    /*ボタンの形状*/
	border: #555;/*囲み線はsolid、線幅指定はpx*/
    min-width:100px;/*要素の幅の最小値を指定する*/
	display: inline-block;
	padding: 3px 0px 3px 0px;
    text-align: center;
    text-decoration: none;
    color: #333;
	background-color: #EFE42C;;
    outline: none;/*入力中に箱が入力中ということを表す*/
    transition: all .2s;/*ホバーした時の動き*/
}

.push:hover{
	background:#333;
    color:#fff;
}

nav ul{
	margin-right: 30%;
	display: flex;
	justify-content: flex-end;
}
nav li{
	list-style: none;
	margin: 5%;
}
li a{
	color: #474747;
	text-decoration: none;
}
main{
	margin-bottom: 20%;
}
main img{
	border-radius: 25px;
}
.titletext{
	font-family: "A P-OTF A1ゴシック Std R";
	height: 65px;
	line-height: 65px;
	font-size: 45px;
	width: 	50%;
    margin-top: 10%;
    position: absolute;
    text-align: center;
    z-index: 1;
}
.titleimg{
	position: absolute;
	margin-left: 5%;
	margin-top: 3%;
}
.titleimg{
	animation:fuwa ease-in-out 2s infinite alternate;/****名前　(緩やかに入って緩やかに終わる)　時間　（永遠）　行って帰ってする動き****/
}
@keyframes fuwa{/****アニメーションをつける時に必要****/
	0%{transform: translate(0%,0%)/*Ｘ軸とY軸*/;}
	100%{transform: translate(0%,-20px)/*Ｘ軸とY軸*/;}
}
.titleimg img{
	width: 70%;
	height: 70%;
}
/*==============================１段目アニメーション==============================*/
.blockText1{
	width: 	90%;
    margin-top: 27%;
    position: absolute;
    text-align: center;
    z-index: 1;
	
}
.blockText1{
	animation: gear 5s infinite linear/*速度が一定*/;
	
}
@keyframes gear{
	0%{transform: rotateZ(0deg)}
	100%{transform: rotateZ(360deg)}
}
/*==============================1枚目画像==============================*/
.fade-block1 {/*画像サイズ、位置*/
	width: 45%;
    height: auto;
    margin: 0 auto 6% 25%;
    text-align: center;
    position: relative;
    left: 20%;
}
.hover-mask {
  align-items: center; /* テキストの中央揃え */
  background: rgba(0, 0, 0, .5); /* マスクの色(黒の50%) */
  bottom: 0;
  color: #fff; /* テキストの色 */
  display: flex; /* テキストの中央揃え */
  height: 100%;
  justify-content: center; /* テキストの中央揃え */
  left: 0;
  opacity: 0; /* 最初は透明(非表示) */
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .6s ease; /* ゆっくりopacityのみへ変化させる */
  width: 100%;
  border-radius: 25px;
}

.hover-mask:hover {
  opacity: 1; /* hoverしたら透過しない(表示させる) */
}
.hover-mask p {
  width: 80%; /* テキストを横幅いっぱいにならないようにする */
}

.worksTitle{
	margin-bottom: 8px;
}

.worksText{
	font-size: 1.3rem;
}
.work img{
	display:block;
}
/*==============================2段目アニメーション==============================*/
.blockText2{
	width: 	135%;
    margin-top: -1%;
    position: absolute;
    text-align: center;
    z-index: 1;
}
.blockText2{
	animation:ball 0.6s infinite alternate;
}
@keyframes ball{
	0%{transform: translate(0%,0%) rotateX(25deg);}
	100%{transform: translate(0%,-10px);}
}
/*==============================2枚目画像==============================*/
.fade-block2 {
    width: 30%;
    height: auto;
    margin: 0 auto 5%;
    text-align: center;
    position: relative;
    right: 20%;
}

.hover-mask_2 {
  align-items: center; 
  background: rgba(0, 0, 0, .5); 
  color: #fff; 
  display: flex; 
  height: 100%;
  justify-content: center;
  opacity: 0; 
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: opacity .6s ease; 
  width: 100%;
  border-radius: 25px;
}

.hover-mask_2:hover {
  opacity: 1; /* 表示させる */
}
.hover-mask_2 p {
  width: 80%;
}
.worksTitle{
	margin-bottom: 8px;
}

.worksText{
	font-size: 1.3rem;
}
.work img{
	display:block;
}
.work {
  position: relative;
  display: inline-block;
}
/*==============================3段目アニメーション==============================*/
.blockText3{
	width: 	85%;
    margin-top: 15%;
    position: absolute;
    text-align: center;
    z-index: 1;
}
.blockText3{
	animation: gear 5s infinite linear/*速度が一定*/;
}
@keyframes gear{
	0%{transform: rotateZ(0deg)}
	100%{transform: rotateZ(360deg)}
}

/*==============================3枚目画像==============================*/
.fade-block3 {
    width: 40%;
    height: auto;
    margin: 0 auto -6%;
    text-align: center;
    position: relative;
    left: 15%;
}
.hover-mask {
  align-items: center; /* テキストの中央揃え */
  background: rgba(0, 0, 0, .5); /* マスクの色(黒の50%) */
  bottom: 0;
  color: #fff; /* テキストの色 */
  display: flex; /* テキストの中央揃え */
  height: 100%;
  justify-content: center; /* テキストの中央揃え */
  left: 0;
  opacity: 0; /* 最初は透明(非表示) */
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .6s ease; /* ゆっくりopacityのみへ変化させる */
  width: 100%;
  border-radius: 25px;
}

.hover-mask:hover {
  opacity: 1; /* hoverしたら透過しない(表示させる) */
}
.hover-mask p {
  width: 80%; /* テキストを横幅いっぱいにならないようにする */
}

.worksTitle{
	margin-bottom: 8px;
}

.worksText{
	font-size: 1.3rem;
}
.work img{
	display:block;
}


.scroll-block img {
    width: 100%;
    height: auto;
}
footer {
    text-align: center;
    color:#474747;
    margin-bottom: 5%;
}

@media screen and (max-width:767px){
	header{
		margin-bottom: 30px;
	}
	/*.blockworks1{
		flex-direction: column;
	}*/
	.worksimg{
		margin-bottom: 30px;
		
	}
}
footer{
 margin-top: 20%;
}
#snsFoot {
 z-index: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 30px;
    bottom: 30px;
    
}
#snsFoot li {
 list-style: none;
    line-height: 1;
    padding: 0 8px;
}
#snsFoot li a {
    display: block;
    cursor: pointer;
}
#snsFoot li img {
    width: 21px;
    height: auto;
    opacity: .9;
}