@charset "UTF-8";
/* CSS Document */
*{
    margin: 0;
    padding: 0;
}
body{
	font-family: 'Crimson Text', serif;
	font-family: 'Ubuntu', sans-serif;
}
html{
  overflow-x: hidden;
}

header{
	margin-top: 1.5%;
	z-index:1;
	position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    justify-content: center;
}
.push{
	/*テキストの基点とするためrelativeを指定*/
	position: relative;
    /*ボタンの形状*/
	border: #555;/*囲み線はsolid、線幅指定はpx*/
    min-width:100px;/*要素の幅の最小値を指定する*/
	display: inline-block;
	padding: 3px 0px 3px 0px;
    text-align: center;
    text-decoration: none;
    color: #333;
	background-color: #EFE42C;;
    outline: none;/*入力中に箱が入力中ということを表す*/
    transition: all .2s;/*ホバーした時の動き*/
}

.push:hover{
	background:#333;
    color:#fff;
}
nav ul{
	margin-right: 0%;
	display: flex;
	justify-content: flex-end;
}
nav li{
	list-style: none;
	margin: 5%;
}
li a{
	color: #474747;
	text-decoration: none;
}
h1{
	width:100px;
}
h1 img{
	margin-left: 10%;
	cursor: url("../img/sunglass.png"),auto;
	width: 80%;
	height: 100%;
}
.top{
	display: flex;
	align-items: center;
	justify-content:space-between;
}
.topimg{
	position: fixed;
	z-index: 10;
	cursor: url("../img/sunglass.png")auto;
}

h2{
  	font-size:1.0rem;
  	text-align: center;
  	margin:0 0 30px 0;
	color:#B1B1B1;
}
h2,
#container p,/*#container...コンテンツの横幅を調整することができる。*/
small{/*small...一回り小さいサイズで表示*/
  margin:0 0 30px 0;
}

small{
  display: block;
  text-align: center;
}
.textwork1{
	margin-top: 40%;
	height: 200px;
}
.blockwork1{
	margin-left:70px;
	margin-right: 70px;
}
.nameplate{
	height: 150px;
	line-height: 150px;
}
.nameplate h3{
	font-family: "A P-OTF A1ゴシック Std M";
	font-size:1.2rem;
	text-align: center;
	height: 65px;
	line-height: 65px;
}
.nameplate p{
	font-family: "A P-OTF A1ゴシック Std M";
	font-size: 8px;
	height: 0;
	line-height: 0;
	text-align: center;
}
.textwork2,.textwork3 dl{
	font-family: "A P-OTF A1ゴシック Std L";
	font-size:0.9rem;
	line-height: 200%;
}
.textwork2, dd{
	margin-top: 30px;
	font-size:0.9rem;
	font-family: "A P-OTF A1ゴシック Std L";
	 text-align: justify;
	 font-feature-settings: "palt";
	letter-spacing: 0.05em;
}
.textwork3{
	margin-top: 70px;
	font-family: "A P-OTF A1ゴシック Std L";
	font-size:0.9rem;
}
.textwork3 dd{
	margin-top: 20px;
	font-family: "A P-OTF A1ゴシック Std L";
	font-size:0.9rem;
}
.aicon{
	margin-top: 20px;
	text-align: center;
	width: 100%;
	height: 100%;
}
.aicon img{
	width: 70%;
	height: 70%;
}
small{
  display: block;
  text-align: center;
}
/*========= 左固定レイアウトのためのCSS ===============*/

/*左と右を囲う全体のエリア*/
#wrapper{/*#wrapper...要素を囲む*/
　width: 100%;
  height: 100%;
  position: relative;/*position stickyの基点にするため relativeをかける*/
  display: flex;
　position: fixed;
  flex-wrap: wrap;/*ボックスの折り返し可*/
}

/*左の画像エリア*/
#left-area {
  background-image: url("../img/kuroeni.jpg");
  background-size: cover; /* 画面いっぱいに表示 */
  background-position: center center; /* 真ん中寄せ */
  background-repeat: no-repeat;
  width: 50vw; /* 画面の左半分 */
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}
.img1{
	margin-top: 17%;
}
.img2{
	margin-top: 39%;
	margin-left: 40%;
	position: absolute;
}
.img3{
	margin-left: 50%;
}

/*右エリア*/
#right-area{
  width:50%;/*横半分50%にする*/
	background-color:#E7E7E7;
}
/*右各セクション 装飾のためのCSS*/
section{
  min-height: 100vh;
  padding:30px;
}
.back{
	text-align: center;
	margin-bottom: 10%;
}
.back a{
	color: #333;
	text-decoration-line: none;
}
.pagenation pagenation-permalink{
	text-align: center;
	margin-bottom: 10%;
	
}
.pagenation pagenation-permalink{
	color: #333;
	text-decoration-line: none;
}
.pagenation {
	
    margin: 3em 0;
    text-align: center;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: .1em;
}
.pagenation a {
    display: inline-block;
    text-decoration: none;
    margin: 0 1em;
    color: #36393d;
}
a, .post-content-anchor:hover, .nav li a:hover, .pagenation a:hover, .entry-footer a:hover {
    color: #BABABA;
}
.arrow-right {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 10px;
  border-top: 2px solid  #36393d;
  border-right:2px solid  #36393d;
  transform: rotate(45deg);
}
.arrow-right:hover{
	color: #BABABA;
}
footer {
    text-align: center;
    color:#474747;
    margin-bottom: 5%;
}
footer{
 margin-top: 20%;
}
#snsFoot {
 z-index: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 30px;
    bottom: 30px;
    
}
#snsFoot li {
 list-style: none;
    line-height: 1;
    padding: 0 8px;
}
#snsFoot li a {
    display: block;
    cursor: pointer;
}
#snsFoot li img {
    width: 21px;
    height: auto;
    opacity: .9;
}

/*==========================================すまほ==========================================*/
@media screen and (max-width:600px){
	
	/* ハンバーガー */
  .menu-btn {
    position: fixed;
    top: 38px;
    right: 55px;
    z-index: 1001;
    width: 40px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .menu-btn span {
    display: block;
    width: 150%;
    height: 3px;
    background:#949494;
    margin: 6px 0;
    transition: all 0.3s ease;
  }

  .menu-btn.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .menu-btn.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-btn.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
	

/* メニュー本体(展開ページ)*/
  .menu-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9); /* ← 0.0〜1.0で調整。0.9はほぼ白 */
    z-index: 1000;
    display: none; /* ← 最初は非表示にしておく */
    justify-content: center;
    align-items: center;
	transition: opacity 0.6s ease, visibility 0.6s ease; /* ←ここでスピード調整 */
	  
  }

  .menu-panel.active {
    display: flex; /* ← ボタン押したら表示 */
  }

  .menu-panel ul {
    list-style: none;
    text-align: center;
    padding: 0;
	flex-direction: column; 
	justify-content: center; /* 縦方向中央揃え */
	align-items: center; /* 横方向中央揃え */
	height: 100%; /* メニュー全体の高さに合わせる */
	margin-right: 0%;
    

  }

  .menu-panel ul li {
	width: 100%;
    margin: 20px 0;
  }
 

  .menu-panel ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #333;
  }
  .menu-panel ul li a:hover {
  	color: #EFE42C; 
  	background-color: #333; 
  	transition: color 0.3s ease, background-color 0.3s ease; 
  	border-radius: 25px; 
  	padding: 10px 15px; 
}
	/*スマホ表示でPCナブを消す*/
@media screen and (max-width: 600px) {
  .pc-menu {
    display: none !important;
  }
}

/*PC表示でスマホメニューを消す*/
@media screen and (min-width: 601px) {
  .sp-menu,
  .menu-btn,
  .menu-panel {
    display: none !important;
  }
}
	
	
	.top img{
		width: 80px;
	}

#wrapper{
  display: block;/*display:flex;を解除*/
}
section{
  min-height:auto;/*縦を100vh⇒解除*/
}

  #left-area {
	position: relative !important;
	background-repeat: no-repeat;
	width: 100%;
	height:80vh;
	margin-top: 20%;
	margin-bottom: 0%;
	background-position: center center;
	background-image:  url("../img/kuroeni.jpg");
  }
	#left-area img {
    display: block;  /* imgタグの下の空白を消す */
    width: 100%;
    height: auto;
    margin: 0;
    padding: 1px 1px 1px 1%;
}

	
	
#right-area{
  width:100%;/*横幅を100%にして1列に見せる*/
}
	.textwork1{
		margin-top: 0%;
	}
	header{
		position: -webkit-sticky;
		position: sticky;
		position: fixed;
        top: 20px;
		 margin-bottom: 0;  /* ← 念のため */
	}
	header img{
		width: 100%;
		height: 90%;
		margin: auto;
	}
	h1{
		width: 50%;
		height: 50%;
	}
	
	h1 img {
    margin-left: 10%;
    width: 80%;
    height: 100%;
		}
	#snsFoot {
	margin-top: 10%;
    position: static; /* または relative */
    bottom: auto;
    left: auto;
    transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
}
#snsFoot li {
    padding: 0 10px;
  }

#snsFoot li a { 
	align-items: center;
}
#snsFoot li img {
    width: 40px;
}
	}
/* PC表示でスマホメニューを消す：絶対最後 */
@media screen and (min-width: 601px) {
  .sp-menu,
  .menu-btn,
  .menu-panel {
    display: none !important;
  }
}
